<!doctype html>
<html>
<head>
    <title>21 Savage Fan Site</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body id="profilebody">
<div class="container">

    <div class="page-header text-center">
        <h1 id="profileh1"><span class="fa fa-anchor"></span> Once Upon A Time</h1>
        <a href="/logout" class="btn btn-default btn-sm" id="profilelogoutbtn">Logout</a>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Profile Information</h3>

                <% if (user.local.email) { %>
                    <p>
                        <strong>Profile ID</strong>: <%= user._id %><br>
                        <strong>Email</strong>: <%= user.local.email %><br>
                        <strong>Password (Site Encrypted)</strong>: <%= user.local.password %>
                    </p>

                    <a href="/unlink/local" class="btn btn-default">Unlink</a>
                <% } else { %>
                    <a href="/connect/local" class="btn btn-default">Connect Local</a>
                <% } %>

            </div>
        </div>
        <div class="col-sm-6">
          <h3>Favorites</h3>
          <p id="storiesDescription">Write the best stories and see it upvoted here</p>
          <ul class="messages">
          <% for(var i=0; i<messages.length; i++) {%>
           <% if(messages[i].like === "def" ) {%>
            <li class="message">
              <span><%= messages[i].name %></span>   <!-- //clickable title of the story -->
              <span><a href="#"><%= messages[i].msg %></a></span>
              <span><%= messages[i].like %></span>
              <span><%= messages[i].thumbUp %></span>
              <span><i class="fa fa-heart" aria-hidden="true"></i></span>
              <span><i class="fa fa-thumbs-up" aria-hidden="true"></i></span>
              <span><i class="fa fa-thumbs-down" aria-hidden="true"></i></span>
              <span><i class="fa fa-trash" aria-hidden="true"></i></span>
            </li>
            <% } %>
          <% } %>
          </ul>

          <!-- <h2>Write A Story</h2>
        <% if (user.local.email) { %>
          <form action="/messages" method="POST">
            <input type="text" value="<%= user.local.email %>" name="name">
            <textarea type="text" placeholder="Short Synopsis of Story" name="msg"></textarea>
            <button type="submit">Submit</button>
          </form> -->
        </div>
        <% } %>
<a href="/profile"> <button type="button" name="button"> TAKE ME BACK </button> </a>
</div>

<script src="main.js"></script>

</body>
</html>
